[submodule "3rdparty/extjs"]
	path = 3rdparty/extjs
	url = git://github.com/partkeepr/ExtJS4.git
[submodule "src/frontend/resources/flags"]
	path = src/frontend/resources/flags
	url = git://github.com/partkeepr/famfamfam_flags.git
[submodule "src/frontend/resources/silkicons"]
	path = src/frontend/resources/silkicons
	url = git://github.com/partkeepr/famfamfam_silkicons.git
[submodule "src/frontend/resources/fugue-icons"]
	path = src/frontend/resources/fugue-icons
	url = git://github.com/yusukekamiyamane/fugue-icons.git
